html {
font-size: 100%;
-ms-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;

  //fix for seetting max widths for large screen sizes	
  max-width: $xl-screen-breakpoint;
  margin: 0 auto;
/*background: #eee; */ /* Fills the page */
  position: relative; /* Fix for absolute positioning */

}

body {
	margin: 0;
}

main > section {
	@include margin-top(type-margin-calculator($h2-font-size));
	@include margin-bottom(type-margin-calculator($h2-font-size));
}

@media screen and (max-width: $md-screen-breakpoint){
	main > section > section{
		@include margin-bottom(1.4382 * 1.618 * 1.3/2);			
	}
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,400italic,300);