@charset "UTF-8";
/**
 *
 * =======================================================================
   Font Sizes
 * =======================================================================
 */
/**
 *
 * =======================================================================
   Colors
 * =======================================================================
 */
/**
 *
 * =======================================================================
   Font families
 * =======================================================================
 */
/**
 *
 * =======================================================================
   Responsive Breakpoints (Min. widths)
 * =======================================================================
 */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,400italic,300);
html {
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  max-width: 71.111em;
  margin: 0 auto;
  /*background: #eee; */
  /* Fills the page */
  position: relative;
  /* Fix for absolute positioning */ }

body {
  margin: 0; }

main > section {
  margin-top: 1.48623rem;
  margin-top: 26.75219px;
  margin-bottom: 1.48623rem;
  margin-bottom: 26.75219px; }

@media screen and (max-width: 42.666em) {
  main > section > section {
    margin-bottom: 1.51255rem;
    margin-bottom: 27.22599px; } }

/* ************************** UTILITIES **************************** */
/* ***************************************************************** */
.vertical-center-container {
  display: -webkit-box !important;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box !important;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox !important;
  /* TWEENER - IE 10 */
  display: -webkit-flex !important;
  display: flex !important; }

.vertical-center {
  padding: 1em 0.5em;
  text-align: center;
  margin: auto; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.neutral-background,
.special-background {
  padding-top: 1rem;
  padding-top: 18px;
  padding-right: 1rem;
  padding-right: 18px;
  padding-bottom: 1rem;
  padding-bottom: 18px;
  padding-left: 1rem;
  padding-left: 18px; }

.neutral-background {
  background-color: #f2f2f2; }

.special-background {
  background-color: #D7E5F1; }

.primary-font-color {
  color: #598DCC; }

.divider {
  border-top: dotted 1px #ccc;
  margin-top: 0.5rem;
  margin-top: 9px;
  margin-bottom: 0.5rem;
  margin-bottom: 9px; }

.float-left {
  float: left; }

.float-right {
  float: right; }

/* *********************** LAYOUT GRIDS*********************** */
/* *********************************************************** */
/***
  title: Grids
  section: Atoms
  description: Layout grids are the foundation of our resposive layout. Our grid system is very simple to understand. We are using a 12 column grid. You create a row by using the .grid-row class, and create columns within that row by using the grid-* classes. The colums can be of any width in number between 1 and 12. As an example, the class grid-1-2 will create a column of width 50% in a row. We have specific classes for a width of golden ratio as defined in the example below. You can specify such layout for specific screen sizes as well between small(sm), medium(md), large(lg) and x-large(xl). A class grid-lg-1-3 will create a container of 33% width on large screens.
  example:
  	<div class="grid-row">
	    <div class="grid-golden-smaller grid-md-1-3"><p>Golden Smaller Segment on small screens, 1/3rd width on medium screens</p></div>
	    <div class="grid-golden-larger grid-md-1-3"><p>Golden Larger Segment on small screens, 1/3rd width on medium screens</p></div>
	</div>
***/
/* Global grid */
.grid-1,
.grid-1-1,
.grid-1-2,
.grid-1-3,
.grid-2-3,
.grid-1-4,
.grid-3-4,
.grid-1-6,
.grid-5-6,
.grid-1-12,
.grid-2-12,
.grid-3-12,
.grid-4-12,
.grid-5-12,
.grid-6-12,
.grid-7-12,
.grid-8-12,
.grid-9-12,
.grid-10-12,
.grid-11-12,
.grid-12-12,
.grid-golden-larger,
.grid-golden-smaller {
  display: inline-block;
  *display: inline;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto; }

.grid-1-12 {
  width: 8.3333%;
  *width: 8.3023%; }

.grid-1-6,
.grid-2-12 {
  width: 16.6667%;
  *width: 16.6357%; }

.grid-1-4,
.grid-3-12 {
  width: 25%;
  *width: 24.9690%; }

.grid-1-3,
.grid-4-12 {
  width: 33.3333%;
  *width: 33.3023%; }

.grid-golden-smaller {
  width: 38.2716%;
  *width: 38.2406%; }

.grid-5-12 {
  width: 41.6667%;
  *width: 41.6357%; }

.grid-1-2,
.grid-6-12 {
  width: 50%;
  *width: 49.9690%; }

.grid-7-12 {
  width: 58.3333%;
  *width: 58.3023%; }

.grid-golden-larger {
  width: 61.7283%;
  *width: 61.6973%; }

.grid-2-3,
.grid-8-12 {
  width: 66.6667%;
  *width: 66.6357%; }

.grid-3-4,
.grid-9-12 {
  width: 75%;
  *width: 74.9690%; }

.grid-5-6,
.grid-10-12 {
  width: 83.3333%;
  *width: 83.3023%; }

.grid-11-12 {
  width: 91.6667%;
  *width: 91.6357%; }

.grid-1,
.grid-1-1,
.grid-12-12 {
  width: 100%; }

.grid-centered {
  margin-left: auto;
  margin-right: auto;
  float: none;
  display: block !important; }

/* Specific grids for small screens */
@media screen and (min-width: 17.777em) {
  .grid-sm-1,
  .grid-sm-1-1,
  .grid-sm-1-2,
  .grid-sm-1-3,
  .grid-sm-2-3,
  .grid-sm-1-4,
  .grid-sm-3-4,
  .grid-sm-1-6,
  .grid-sm-5-6,
  .grid-sm-1-12,
  .grid-sm-2-12,
  .grid-sm-3-12,
  .grid-sm-4-12,
  .grid-sm-5-12,
  .grid-sm-6-12,
  .grid-sm-7-12,
  .grid-sm-8-12,
  .grid-sm-9-12,
  .grid-sm-10-12,
  .grid-sm-11-12,
  .grid-sm-12-12,
  .grid-sm-golden-larger,
  .grid-sm-golden-smaller {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto; }
  .grid-sm-1-12 {
    width: 8.3333%;
    *width: 8.3023%; }
  .grid-sm-1-6,
  .grid-sm-2-12 {
    width: 16.6667%;
    *width: 16.6357%; }
  .grid-sm-1-4,
  .grid-sm-3-12 {
    width: 25%;
    *width: 24.9690%; }
  .grid-sm-1-3,
  .grid-sm-4-12 {
    width: 33.3333%;
    *width: 33.3023%; }
  .grid-sm-golden-smaller {
    width: 38.2716%;
    *width: 38.2406%; }
  .grid-sm-5-12 {
    width: 41.6667%;
    *width: 41.6357%; }
  .grid-sm-1-2,
  .grid-sm-6-12 {
    width: 50%;
    *width: 49.9690%; }
  .grid-sm-7-12 {
    width: 58.3333%;
    *width: 58.3023%; }
  .grid-sm-golden-larger {
    width: 61.7283%;
    *width: 61.6973%; }
  .grid-sm-2-3,
  .grid-sm-8-12 {
    width: 66.6667%;
    *width: 66.6357%; }
  .grid-sm-3-4,
  .grid-sm-9-12 {
    width: 75%;
    *width: 74.9690%; }
  .grid-sm-5-6,
  .grid-sm-10-12 {
    width: 83.3333%;
    *width: 83.3023%; }
  .grid-sm-11-12 {
    width: 91.6667%;
    *width: 91.6357%; }
  .grid-sm-1,
  .grid-sm-1-1,
  .grid-sm-12-12 {
    width: 100%; }
  .grid-sm-centered {
    margin-left: auto;
    margin-right: auto;
    float: none;
    display: block !important; } }

/* Specific grids for medium width screens */
@media screen and (min-width: 42.666em) {
  .grid-md-1,
  .grid-md-1-1,
  .grid-md-1-2,
  .grid-md-1-3,
  .grid-md-2-3,
  .grid-md-1-4,
  .grid-md-3-4,
  .grid-md-1-6,
  .grid-md-5-6,
  .grid-md-1-12,
  .grid-md-2-12,
  .grid-md-3-12,
  .grid-md-4-12,
  .grid-md-5-12,
  .grid-md-6-12,
  .grid-md-7-12,
  .grid-md-8-12,
  .grid-md-9-12,
  .grid-md-10-12,
  .grid-md-11-12,
  .grid-md-12-12,
  .grid-md-golden-larger,
  .grid-md-golden-smaller {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto; }
  .grid-md-1-12 {
    width: 8.3333%;
    *width: 8.3023%; }
  .grid-md-1-6,
  .grid-md-2-12 {
    width: 16.6667%;
    *width: 16.6357%; }
  .grid-md-1-4,
  .grid-md-3-12 {
    width: 25%;
    *width: 24.9690%; }
  .grid-md-1-3,
  .grid-md-4-12 {
    width: 33.3333%;
    *width: 33.3023%; }
  .grid-md-golden-smaller {
    width: 38.2716%;
    *width: 38.2406%; }
  .grid-md-5-12 {
    width: 41.6667%;
    *width: 41.6357%; }
  .grid-md-1-2,
  .grid-md-6-12 {
    width: 50%;
    *width: 49.9690%; }
  .grid-md-7-12 {
    width: 58.3333%;
    *width: 58.3023%; }
  .grid-md-golden-larger {
    width: 61.7283%;
    *width: 61.6973%; }
  .grid-md-2-3,
  .grid-md-8-12 {
    width: 66.6667%;
    *width: 66.6357%; }
  .grid-md-3-4,
  .grid-md-9-12 {
    width: 75%;
    *width: 74.9690%; }
  .grid-md-5-6,
  .grid-md-10-12 {
    width: 83.3333%;
    *width: 83.3023%; }
  .grid-md-11-12 {
    width: 91.6667%;
    *width: 91.6357%; }
  .grid-md-1,
  .grid-md-1-1,
  .grid-md-12-12 {
    width: 100%; }
  .grid-md-centered {
    margin-left: auto;
    margin-right: auto;
    float: none;
    display: block !important; } }

/* Specific grids for large width screens */
@media screen and (min-width: 56.888em) {
  .grid-lg-1,
  .grid-lg-1-1,
  .grid-lg-1-2,
  .grid-lg-1-3,
  .grid-lg-2-3,
  .grid-lg-1-4,
  .grid-lg-3-4,
  .grid-lg-1-6,
  .grid-lg-5-6,
  .grid-lg-1-12,
  .grid-lg-2-12,
  .grid-lg-3-12,
  .grid-lg-4-12,
  .grid-lg-5-12,
  .grid-lg-6-12,
  .grid-lg-7-12,
  .grid-lg-8-12,
  .grid-lg-9-12,
  .grid-lg-10-12,
  .grid-lg-11-12,
  .grid-lg-12-12,
  .grid-lg-golden-larger,
  .grid-lg-golden-smaller {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto; }
  .grid-lg-1-12 {
    width: 8.3333%;
    *width: 8.3023%; }
  .grid-lg-1-6,
  .grid-lg-2-12 {
    width: 16.6667%;
    *width: 16.6357%; }
  .grid-lg-1-4,
  .grid-lg-3-12 {
    width: 25%;
    *width: 24.9690%; }
  .grid-lg-1-3,
  .grid-lg-4-12 {
    width: 33.3333%;
    *width: 33.3023%; }
  .grid-lg-golden-smaller {
    width: 38.2716%;
    *width: 38.2406%; }
  .grid-lg-5-12 {
    width: 41.6667%;
    *width: 41.6357%; }
  .grid-lg-1-2,
  .grid-lg-6-12 {
    width: 50%;
    *width: 49.9690%; }
  .grid-lg-7-12 {
    width: 58.3333%;
    *width: 58.3023%; }
  .grid-lg-golden-larger {
    width: 61.7283%;
    *width: 61.6973%; }
  .grid-lg-2-3,
  .grid-lg-8-12 {
    width: 66.6667%;
    *width: 66.6357%; }
  .grid-lg-3-4,
  .grid-lg-9-12 {
    width: 75%;
    *width: 74.9690%; }
  .grid-lg-5-6,
  .grid-lg-10-12 {
    width: 83.3333%;
    *width: 83.3023%; }
  .grid-lg-11-12 {
    width: 91.6667%;
    *width: 91.6357%; }
  .grid-lg-1,
  .grid-lg-1-1,
  .grid-lg-12-12 {
    width: 100%; }
  .grid-lg-centered {
    margin-left: auto;
    margin-right: auto;
    float: none;
    display: block !important; } }

/* Specific grids for extra large width screens */
@media screen and (min-width: 71.111em) {
  .grid-xl-1,
  .grid-xl-1-1,
  .grid-xl-1-2,
  .grid-xl-1-3,
  .grid-xl-2-3,
  .grid-xl-1-4,
  .grid-xl-3-4,
  .grid-xl-1-6,
  .grid-xl-5-6,
  .grid-xl-1-12,
  .grid-xl-2-12,
  .grid-xl-3-12,
  .grid-xl-4-12,
  .grid-xl-5-12,
  .grid-xl-6-12,
  .grid-xl-7-12,
  .grid-xl-8-12,
  .grid-xl-9-12,
  .grid-xl-10-12,
  .grid-xl-11-12,
  .grid-xl-12-12,
  .grid-xl-golden-larger,
  .grid-xl-golden-smaller {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto; }
  .grid-xl-1-12 {
    width: 8.3333%;
    *width: 8.3023%; }
  .grid-xl-1-6,
  .grid-xl-2-12 {
    width: 16.6667%;
    *width: 16.6357%; }
  .grid-xl-1-4,
  .grid-xl-3-12 {
    width: 25%;
    *width: 24.9690%; }
  .grid-xl-1-3,
  .grid-xl-4-12 {
    width: 33.3333%;
    *width: 33.3023%; }
  .grid-xl-golden-smaller {
    width: 38.2716%;
    *width: 38.2406%; }
  .grid-xl-5-12 {
    width: 41.6667%;
    *width: 41.6357%; }
  .grid-xl-1-2,
  .grid-xl-6-12 {
    width: 50%;
    *width: 49.9690%; }
  .grid-xl-7-12 {
    width: 58.3333%;
    *width: 58.3023%; }
  .grid-xl-golden-larger {
    width: 61.7283%;
    *width: 61.6973%; }
  .grid-xl-2-3,
  .grid-xl-8-12 {
    width: 66.6667%;
    *width: 66.6357%; }
  .grid-xl-3-4,
  .grid-xl-9-12 {
    width: 75%;
    *width: 74.9690%; }
  .grid-xl-5-6,
  .grid-xl-10-12 {
    width: 83.3333%;
    *width: 83.3023%; }
  .grid-xl-11-12 {
    width: 91.6667%;
    *width: 91.6357%; }
  .grid-xl-1,
  .grid-xl-1-1,
  .grid-xl-12-12 {
    width: 100%; }
  .grid-xl-centered {
    margin-left: auto;
    margin-right: auto;
    float: none;
    display: block !important; } }

/* The container class (think of a row) within which the grids can reside */
.grid-row {
  /*
display: -webkit-flex;
-webkit-flex-flow: row wrap;
display: -ms-flexbox;
-ms-flex-flow: row wrap;
*/
  letter-spacing: -.31em;
  *letter-spacing: normal;
  *word-spacing: -.43em;
  text-rendering: optimizespeed;
  font-family: "Roboto", Arial, sans-serif;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  display: -ms-flexbox;
  -ms-flex-flow: row wrap;
  -ms-align-content: flex-start;
  -webkit-align-content: flex-start;
  align-content: flex-start; }

/* Adding padding to each unit */
.grid-row > div, .grid-row > section {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1em; }

/* *********************** COLORS *********************** */
/* ********************************************************** */
/**
 *
 * =======================================================================
   Primary Colors. Mostly applied in buttons
 * =======================================================================
 */
.primary-color {
  background: #598DCC; }

.secondary-color {
  background: #FF9800; }

.special-color {
  background: purple; }

/**
 *
 * =======================================================================
   Font Colors
 * =======================================================================
 */
.header-font-color {
  color: #222; }

.base-font-color {
  color: #333; }

.secondary-font-color {
  color: #666; }

.success-font-color {
  color: green; }

.error-font-color {
  color: #F44336; }

/**
 *
 * =======================================================================
   Background Colors
 * =======================================================================
 */
.neutral-background-color {
  background-color: #f2f2f2; }

.special-background-color {
  background-color: #D7E5F1; }

/*!
TYPEPLATE : STARTER KIT
URL ........... http://typeplate.com
VERSION ....... 2.0.0
Github ........ https://github.com/typeplate/starter-kit
AUTHORS ....... Dennis Gaebel (@gryghostvisuals) & Zachary Kain (@zakkain)
LICENSE ....... Creative Commmons Attribution 3.0 (http://creativecommons.org/licenses/by/3.0)
LICENSE URL ... https://github.com/typeplate/starter-kit/blob/master/license.txt
*/
/**
 *
 * =======================================================================
   Application Font Stack
 * =======================================================================
 */
html, button, input, select, textarea,
.grid-row [class*="grid"] {
  /* Set your content font stack here: */ }

/**
 *
 * =======================================================================
   Word Wrap
 * =======================================================================
 */
.breakword {
  word-wrap: break-word; }

.normal-wrap {
  word-wrap: normal; }

.inherit-wrap {
  word-wrap: auto; }

/**
 *
 * =======================================================================
   Base Type
 * =======================================================================
 *
 */
html {
  font: normal 112.5%/1.9 "Roboto", Arial, sans-serif;
  /* base font size 18px with 1.65 line-height */
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizespeed; }

body {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
  color: #333; }

/**
 *
 * =======================================================================
   Fine Print
 * =======================================================================
 */
small {
  font-size: 65%; }

/**
 *
 * =======================================================================
   Headings
 * =======================================================================
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  margin-top: 0;
  text-rendering: optimizeLegibility;
  /*  voodoo to enable ligatures and kerning | https://developer.mozilla.org/en-US/docs/CSS/text-rendering */
  color: #222;
  font-family: "Helvetica", Arial, sans-serif; }

/**
* Explanation:
* margin-bottom = ( base font-size * base line-height ) / current font-size. This is calculated using the function type-margin-calculator
*
* Makes sure that there's always one unit of measure's worth of space between stuff
* for headings. This is better than spacing using line-height because of the wrapping issue where we have
* wrapping onto 2 lines with a high line-height.
* font size(rem)=font size(px)/base font size(px)
 */
h1,
.alpha {
  font-size: 1.618rem;
  font-size: 29.124px;
  margin-bottom: 1.32108rem;
  margin-bottom: 23.77936px;
  color: #222; }

h2,
.beta {
  font-size: 1.4382rem;
  font-size: 25.8876px;
  margin-bottom: 1.48623rem;
  margin-bottom: 26.75219px; }

h3,
.gamma {
  font-size: 1.2222rem;
  font-size: 21.9996px;
  margin-bottom: 1.7489rem;
  margin-bottom: 31.48012px; }

h4, h5, h6,
.delta {
  font-size: 1.1111rem;
  font-size: 19.9998px;
  margin-bottom: 1.92377rem;
  margin-bottom: 34.62785px;
  color: #666; }

/**
 *
 * =======================================================================
   Paragraphs and Indentation
 * =======================================================================
 */
p {
  margin: auto auto 1.5em;
  /* bottom margin for paragraphs */ }

/* text indent and no top margin on subsequent paragraphs */
p + p {
  text-indent: 0.75em;
  /* indent subsequent paragraphs */
  margin-top: -0.75em; }

/**
 *
 * =======================================================================
   Hyphens
 * =======================================================================
 */
input,
abbr,
acronym,
blockquote,
code,
kbd,
q,
samp,
var {
  /* Accepted values: [ none | manual | auto ] */
  /* http://meyerweb.com/eric/thoughts/2012/12/17/where-to-avoid-css-hyphenation */
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

/**
 *
 * =======================================================================
 * Abbreviations Markup

  <abbr title="hyper text markup language">HMTL</abbr>

 * =======================================================================
 */
abbr, .small-caps {
  -webkit-font-variant: small-caps;
  -moz-font-variant: small-caps;
  -ms-font-variant: small-caps;
  font-variant: small-caps;
  font-weight: 600;
  text-transform: lowercase;
  color: #555; }

abbr[title]:hover {
  cursor: help;
  /* cursor changed to a question mark when it has a title */ }

/**
 *
 * =======================================================================
   Definition Lists
 * =======================================================================
 */
/**
 * Lining Definition Style Markup
 *
  <dl class="lining">
    <dt><b></b></dt>
    <dd></dd>
  </dl>
 *
 * Extend this object into your markup.
 *
 */
.lining dt,
.lining dd {
  display: inline;
  margin: 0; }

.lining dt + dt:before,
.lining dd + dt:before {
  content: "\A";
  white-space: pre; }

.lining dd + dd:before {
  content: ", "; }

.lining dd:before {
  content: ": ";
  margin-left: -0.2em; }

/**
 * Dictionary Definition Style Markup
 *
  <dl class="dictionary-style">
    <dt><b></b></dt>
      <dd></dd>
  </dl>
 *
 * Extend this object into your markup.
 *
 */
.dictionary-style dt {
  display: inline;
  counter-reset: definitions; }

.dictionary-style dt + dt:before {
  content: ", ";
  margin-left: -0.2em; }

.dictionary-style dd {
  display: block;
  counter-increment: definitions; }

.dictionary-style dd:before {
  content: counter(definitions, decimal) ". "; }

/**
 *
 * =======================================================================
   Blockquotes
 * =======================================================================
 */
/**
 * Blockquote Markup
 *
  <figure>
    <blockquote class="blockquote" cite="">
      <p></p>
    </blockquote>
    <figcaption>
      <cite>
        <small><a href=""></a></small>
      </cite>
    </figcaption>
  </figure>
 *
 * Extend this object into your markup.
 *
 */
.blockquote p:last-of-type {
  margin-bottom: -0.825em; }

.blockquote + figcaption {
  display: block;
  font-size: inherit;
  text-align: right; }

.blockquote + figcaption:before {
  content: "-";
  /* "-" is your citation flourish */ }

/**
 *
 * =======================================================================
   Pull Quotes
 * =======================================================================
 */
/**
 * Pull Quotes Markup
 *
  <aside class="pull-quote">
    <blockquote>
      <p></p>
    </blockquote>
  </aside>
 *
 * Extend this object into your custom stylesheet.
 *
 */
.pull-quote {
  position: relative;
  padding: 1em; }

.pull-quote:before,
.pull-quote:after {
  height: 1em;
  opacity: 0.15;
  position: absolute;
  font-size: 4em;
  color: #dc976e; }

.pull-quote:before {
  content: '“';
  top: 0;
  left: 0; }

.pull-quote:after {
  content: '”';
  bottom: 0;
  right: 0; }

/**
 *
 * =======================================================================
   Figures
 * =======================================================================
 */
/**
 * Figures Markup
 *
  <figure>
    <figcaption>
      <strong>Fig. 4.2 | </strong>Type Anatomy, an excerpt from Mark Boulton's book<cite title="http://designingfortheweb.co.uk/book/part3/part3_chapter11.php">"Designing for the Web"</cite>
    </figcaption>
  </figure>
 *
 * Extend this object into your markup.
 *
 */
/**
 *
 * 
=======================================================================
   Tables
 * =======================================================================
 */
/**
 * Tables Markup
 *
  <table>
  	<thead>
  		<tr>
  			<th></th>
  		</tr>  		
  	</thead>
  	<tbody>
  		<tr>
  			<td></td>
  		</tr>  		
  	</tbody>
  	  
  </table>
 *
 */
table {
  border-spacing: 0; }

thead tr {
  background-color: #f2f2f2; }

td {
  padding: 0.5em 1em;
  border-bottom: solid 1px #ccc; }

/**
 *
 * =======================================================================
   Links
 * =======================================================================
 */
a {
  color: #598DCC;
  text-decoration: none; }
  a:hover,
  a:focus {
    color: #598DCC;
    text-decoration: underline; }

/**
 *
 * =======================================================================
   Address
 * =======================================================================
 */
address {
  font-style: normal; }

/**
 *
 * =======================================================================
   Stats / Numbers
 * =======================================================================
 */
.stats {
  color: black;
  font-weight: 600;
  font-size: 2.61794rem;
  font-size: 47.123px; }

.stats-label {
  color: black; }

/* *********************** FORMS **************************** */
/* ********************************************************** */
/***
  title: Forms
  section: Atoms
  description: These are the basic styles that are applied to any form on UMClinicalStudies.org. These form elements can be applied within our grid to lay them out in a certain way. Along with styling the native HTML elements, we also have some utility classes like "input-rounded" for rounded inputs and "form-aligned" for aligned forms where text and input controls are on same line and text is right aligned. See examples below for details.
  example:
  	<div class="grid-row">
	    <div class="grid-golden-smaller grid-md-1-3"><p>Golden Smaller Segment on small screens, 1/3rd width on medium screens</p></div>
	    <div class="grid-golden-larger grid-md-1-3"><p>Golden Larger Segment on small screens, 1/3rd width on medium screens</p></div>
	</div>
***/
button, input, optgroup, select, textarea {
  font-size: inherit; }

/**
 *
 * =======================================================================
   Basic input elements styling
 * =======================================================================
 */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="color"],
select,
textarea {
  padding: 0.8em 0.9em;
  display: inline-block;
  border: 2px solid #999;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff; }

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
input:not([type]) {
  padding: 0.8em 0.9em;
  display: inline-block;
  border: 2px solid #999;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff; }

input[type="radio"],
input[type="checkbox"] {
  margin-left: 0; }

/* Chrome (as of v.32/34 on OS X) needs additional room for color to display. */
/* May be able to remove this tweak as color inputs become more standardized across browsers. */
input[type="color"] {
  padding: 0.2em 0.5em; }

.full-line-checkbox,
.full-line-radio {
  margin: 0.5em 0;
  display: block; }

/**
 *
 * =======================================================================
   Submit button styling
 * =======================================================================
 */
button[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

/**
 *
 * =======================================================================
   Basic input elements styling on focus
 * =======================================================================
 */
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
select:focus,
textarea:focus {
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */
  border-color: #598DCC; }

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
input:not([type]):focus {
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */
  border-color: #598DCC; }

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 1px auto #598DCC; }

/**
 *
 * =======================================================================
   Basic disabled input elements styling
 * =======================================================================
 */
input[type="text"][disabled],
input[type="password"][disabled],
input[type="email"][disabled],
input[type="url"][disabled],
input[type="date"][disabled],
input[type="month"][disabled],
input[type="time"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="week"][disabled],
input[type="number"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="color"][disabled],
select[disabled],
textarea[disabled] {
  cursor: not-allowed;
  background-color: #eaeded;
  color: #cad2d3; }

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
input:not([type])[disabled] {
  cursor: not-allowed;
  background-color: #eaeded;
  color: #cad2d3; }

/**
 *
 * =======================================================================
   Basic read-only input elements styling
 * =======================================================================
 */
input[readonly],
select[readonly],
textarea[readonly] {
  background: #eee;
  color: #777;
  border-color: #ccc; }

/**
 *
 * =======================================================================
   Styling for invalid inputs and text areas
 * =======================================================================
 */
input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
  color: #F44336;
  border-color: #e9322d; }

input:focus:invalid:focus,
textarea:focus:invalid:focus,
select:focus:invalid:focus {
  border-color: #e9322d; }

input[type="file"]:focus:invalid:focus,
input[type="radio"]:focus:invalid:focus,
input[type="checkbox"]:focus:invalid:focus {
  outline-color: #e9322d; }

input:focus:invalid + .field-error-text,
textarea:focus:invalid + .field-error-text,
select:focus:invalid + .field-error-text,
input:focus:invalid:focus + .field-error-text,
textarea:focus:invalid:focus + .field-error-text,
select:focus:invalid:focus + .field-error-text {
  display: block; }

/**
 *
 * =======================================================================
   Select element styling
 * =======================================================================
 */
select {
  border: 2px solid #999;
  background-color: white;
  height: 3.4em; }

select[multiple] {
  height: auto; }

/**
 *
 * =======================================================================
   Label element styling
 * =======================================================================
 */
label {
  margin: 0.5em 0 0.2em;
  font-weight: bold; }

label.block-label,
.form-stacked label.block-label {
  display: inline-block;
  padding: 0.8em 0.9em;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  font-size: 1em !important;
  font-size: 18px !important;
  font-weight: normal !important; }

label.block-label:hover {
  border: 2px solid #598DCC;
  cursor: pointer; }

label.block-label.inline-block-label {
  padding: 0.5em 0.9em !important; }

/**
 *
 * =======================================================================
   Fieldset element styling
 * =======================================================================
 */
fieldset {
  margin: 0;
  padding: 0.35em 0 0.75em;
  border: 0; }

/**
 *
 * =======================================================================
   Legend element styling
 * =======================================================================
 */
legend {
  display: block;
  width: 100%;
  padding: 0.3em 0 0.3em 0.3em;
  background-color: #f2f2f2;
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 1.2222rem;
  font-size: 21.9996px;
  margin-bottom: 1.35rem;
  margin-bottom: 24.3px;
  color: #222; }

/**
 *
 * =======================================================================
   Stacked form syling (create a stacked form with input elements below the labels)
 * =======================================================================
 */
.form-stacked input[type="text"],
.form-stacked input[type="password"],
.form-stacked input[type="email"],
.form-stacked input[type="url"],
.form-stacked input[type="date"],
.form-stacked input[type="month"],
.form-stacked input[type="time"],
.form-stacked input[type="datetime"],
.form-stacked input[type="datetime-local"],
.form-stacked input[type="week"],
.form-stacked input[type="number"],
.form-stacked input[type="search"],
.form-stacked input[type="tel"],
.form-stacked input[type="color"],
.form-stacked select,
.form-stacked textarea {
  display: block;
  margin-bottom: 1.5rem;
  margin-bottom: 27px; }

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.form-stacked input:not([type]) {
  display: block;
  margin-bottom: 1.5rem;
  margin-bottom: 27px; }

/*
Class inline-fields provides a way to use inline fields within a stacked form. Example: First Name and last name. Add the class .inline-fields to the outer field container.
*/
.form-stacked .inline-fields {
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  display: -ms-flexbox;
  -ms-flex-flow: row wrap; }

.form-stacked .inline-fields .field-container {
  display: inline-block;
  margin-right: 0.5rem;
  margin-right: 9px; }

/**
Class currency field provides a way to use a add a currency field into your stacked form. Add class .currency-field to your outer container which contains the field and the $ symbol.
 */
.currency-field {
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  display: -ms-flexbox;
  -ms-flex-flow: row wrap; }

.currency-field span {
  display: inline-block;
  border: 2px solid #999;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  padding: 0.8em 0.9em;
  line-height: 20px;
  margin-bottom: 0.25rem;
  margin-bottom: 4.5px;
  margin-right: -5px; }

.currency-field input {
  display: inline-block;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

/*
A field with a label, help text, help link and an error text needs to be inside a "field-container" class. The styling for this within a stacked form class is below
*/
.form-stacked .field-container {
  margin-bottom: 1.5rem;
  margin-bottom: 27px; }

.form-stacked .field-container input, .form-stacked .field-container select {
  margin-bottom: 0.25rem;
  margin-bottom: 4.5px; }

.form-stacked .field-container .field-help-text {
  color: #666;
  line-height: 140%;
  font-size: 0.85rem;
  font-size: 15.3px;
  margin-bottom: 0.5rem;
  margin-bottom: 9px; }

.form-stacked button[type="submit"] {
  margin-top: 2.415rem;
  margin-top: 43.47px; }

/**
 *
 * =======================================================================
   Aligned form syling (the labels are right-aligned against the form input controls, but on smaller screens revert to a stacked form)
 * =======================================================================
 */
.form-aligned .field-container {
  margin-bottom: 1.5em; }

.form-aligned .field-container .label-container {
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  width: 10em;
  margin: 0 1em 0 0;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none;
  -ms-word-break: keep-all;
  word-break: keep-all; }

.form-aligned .field-container .input-container label {
  display: block;
  margin-top: 0rem;
  margin-top: 0px;
  line-height: 140%; }

.form-aligned .field-container .label-container .field-help-text {
  color: #666;
  font-size: 0.85rem;
  font-size: 15.3px;
  line-height: 140%; }

.form-aligned .input-container {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top; }

.form-aligned .button-container {
  margin-top: 2.415rem;
  margin-top: 43.47px;
  vertical-align: middle;
  margin-left: 8em; }

/**
 *
 * =======================================================================
   Validation errors for Stacked and Aligned forms
 * =======================================================================
 */
.form-stacked .field-container .field-error-text,
.form-aligned .field-container .input-container .field-error-text {
  display: none;
  color: #F44336;
  font-size: 0.85rem;
  font-size: 15.3px;
  margin-top: 0.25rem;
  margin-top: 4.5px; }

.form-stacked .field-error input,
.form-stacked .field-error select,
.form-stacked .field-error textarea,
.form-aligned .field-error .input-container input,
.form-aligned .field-error .input-container select,
.form-aligned .field-error .input-container textarea {
  color: #F44336;
  border-color: #e9322d; }

.form-stacked .field-error .field-error-text,
.form-aligned .field-error .input-container .field-error-text {
  display: block; }

/**
 *
 * =======================================================================
   Rounded inputs
 * =======================================================================
 */
input.input-rounded,
.input-rounded {
  border-radius: 2em;
  padding: 0.5em 1em; }

/**
 *
 * =======================================================================
   Grouped inputs (Inputs with a label that are vertically grouped. Work well for sign-up forms on mobile)
 * =======================================================================
 */
.form-group fieldset {
  margin-bottom: 10px; }

.form-group input {
  display: block;
  padding: 10px;
  margin: 0;
  border-radius: 0;
  position: relative;
  top: -1px; }

.form-group input:focus {
  z-index: 2; }

.form-group input:first-child {
  top: 1px;
  border-radius: 5px 5px 0 0; }

.form-group input:last-child {
  top: -2px;
  border-radius: 0 0 5px 5px; }

/**
 *
 * =======================================================================
   Various input sizes
 * =======================================================================
 */
.input-1 {
  width: 100%; }

.input-2-3 {
  width: 66%; }

.input-1-2 {
  width: 50%; }

.input-1-3 {
  width: 33%; }

.input-1-4 {
  width: 25%; }

/**
 *
 * =======================================================================
   Form Help Text (TBD if this is needed and still needs to live here)
 * =======================================================================
 */
/*
.form-message-inline {
    display: inline-block;
    padding-left: 0.3em;
    color: #666;
    vertical-align: middle;
    font-size: 0.875em;
}
*/
/* Block help for forms */
/*
.form-message {
    display: block;
    color: #666;
    font-size: 0.875em;
}
*/
/**
 *
 * =======================================================================
   Responsive stuff where forms look different on mobile
 * =======================================================================
 */
@media only screen and (max-width: 42.666em) {
  button[type="submit"] {
    margin-top: 2.415rem;
    margin-top: 43.47px;
    width: 100%; }
  input:not([type]),
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="url"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="week"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="color"],
  label {
    display: block;
    margin-bottom: 1.5rem;
    margin-bottom: 27px; }
  .input-1,
  .input-2-3,
  .input-1-2,
  .input-1-3,
  .input-1-4 {
    width: 100%; }
  .form-stacked .inline-fields {
    display: block; }
  .form-stacked .inline-fields .field-container {
    display: block; }
  .form-aligned .field-container .label-container {
    margin-bottom: 0.25rem;
    margin-bottom: 4.5px;
    text-align: left;
    display: block;
    width: 100%; }
  .form-aligned .field-container .label-container label {
    margin-bottom: 0.25rem;
    margin-bottom: 4.5px; }
  .form-aligned .field-container .input-container input:not([type]),
  .form-aligned .field-container .input-container input[type="text"],
  .form-aligned .field-container .input-container input[type="password"],
  .form-aligned .field-container .input-container input[type="email"],
  .form-aligned .field-container .input-container input[type="url"],
  .form-aligned .field-container .input-container input[type="date"],
  .form-aligned .field-container .input-container input[type="month"],
  .form-aligned .field-container .input-container input[type="time"],
  .form-aligned .field-container .input-container input[type="datetime"],
  .form-aligned .field-container .input-container input[type="datetime-local"],
  .form-aligned .field-container .input-container input[type="week"],
  .form-aligned .field-container .input-container input[type="number"],
  .form-aligned .field-container .input-container input[type="search"],
  .form-aligned .field-container .input-container input[type="tel"],
  .form-aligned .field-container .input-container input[type="color"],
  label {
    margin-bottom: 0.25rem;
    margin-bottom: 4.5px; }
  .form-aligned .button-container {
    margin-left: 0px;
    text-align: center; }
  .form-aligned .button-container button[type="submit"] {
    margin-top: 1.5rem;
    margin-top: 27px; }
  .form-message-inline,
  .form-message {
    display: block;
    font-size: 0.75em;
    /* Increased bottom padding to make it group with its related input element. */
    padding: 0.2em 0 0.8em; }
  form {
    width: 100%; } }

/* *********************** BUTTONS **************************** */
/* ********************************************************** */
/**
 *
 * =======================================================================
   Basic button styling. Not to be used for markup.
 * =======================================================================
 */
.button, .primary-button, .special-button, .outline-button, .small-primary-button, .small-special-button, .small-outline-button {
  display: block;
  color: white !important;
  text-decoration: none !important;
  text-align: center;
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #999;
  /*IE 6/7/8*/
  border: none transparent;
  /*IE9 + everything else*/
  font-family: "Helvetica", Arial, sans-serif; }

/* Firefox: Get rid of the inner focus border */
.button::-moz-focus-inner, .primary-button::-moz-focus-inner, .special-button::-moz-focus-inner, .outline-button::-moz-focus-inner, .small-primary-button::-moz-focus-inner, .small-special-button::-moz-focus-inner, .small-outline-button::-moz-focus-inner {
  padding: 0;
  border: 0; }

/*csslint outline-none:false*/
.button-active,
.button:active, .primary-button:active, .special-button:active, .outline-button:active, .small-primary-button:active, .small-special-button:active, .small-outline-button:active {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.2) inset;
  border-color: #000\9; }

.button[disabled],
[disabled].primary-button,
[disabled].special-button,
[disabled].outline-button,
[disabled].small-primary-button,
[disabled].small-special-button,
[disabled].small-outline-button,
.button-disabled,
.button-disabled:hover,
.button-disabled:focus,
.button-disabled:active {
  border: none;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  filter: alpha(opacity=40);
  -khtml-opacity: 0.40;
  -moz-opacity: 0.40;
  opacity: 0.40;
  cursor: not-allowed;
  box-shadow: none; }

.button:hover, .primary-button:hover, .special-button:hover, .outline-button:hover, .small-primary-button:hover, .small-special-button:hover, .small-outline-button:hover {
  text-decoration: none;
  background-color: #FF9800;
  cursor: pointer; }

.button-hidden {
  display: none; }

.button .fa, .primary-button .fa, .special-button .fa, .outline-button .fa, .small-primary-button .fa, .small-special-button .fa, .small-outline-button .fa {
  margin-right: 0.5rem;
  margin-right: 9px; }

.button-size, .primary-button, .special-button, .outline-button, .button-size-small, .small-primary-button, .small-special-button, .small-outline-button {
  padding: 0.75em 1em;
  margin-bottom: 1rem;
  margin-bottom: 18px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  font-size: 1.2rem;
  font-size: 21.6px; }

.outline-button:hover, .small-outline-button:hover {
  text-decoration: none;
  background-color: #D7E5F1;
  cursor: pointer; }

/**
 *
 * =======================================================================
   Various button classes to be used in markup
 * =======================================================================
 */
.primary-button {
  background: #598DCC; }

.special-button {
  background: purple;
  vertical-align: middle;
  letter-spacing: 1px; }

.outline-button {
  background: none;
  border: solid 1px #598DCC;
  color: #598DCC !important;
  vertical-align: middle;
  letter-spacing: 1px; }

.small-primary-button {
  background: #598DCC; }

.small-special-button {
  background: purple;
  vertical-align: middle;
  letter-spacing: 1px; }

.small-outline-button {
  background: none;
  border: solid 1px #598DCC !important;
  color: #598DCC !important;
  vertical-align: middle;
  letter-spacing: 1px; }

/**
 *
 * =======================================================================
   Responsive styling
 * =======================================================================
 */
@media screen and (min-width: 42.666em) {
  /*By default the button is set to be a block but on screens bigger than $md-screen-breakpoint, the button changes to an inline block*/
  .button, .primary-button, .special-button, .outline-button, .small-primary-button, .small-special-button, .small-outline-button {
    display: inline-block;
    margin-bottom: 0; }
  /*By default, the button sizes are the same but on screens greater than $md-screen-breakpoint, they diverge into different sizes*/
  .button-size-small, .small-primary-button, .small-special-button, .small-outline-button {
    padding: 0.5em 0.625em;
    margin-bottom: 0.7rem;
    margin-bottom: 12.6px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    font-size: 1rem;
    font-size: 18px; } }

/* ************************* TAGS *********************************** */
/* ****************************************************************** */
.tag {
  font-size: 0.9rem;
  font-size: 16.2px;
  color: #333333;
  padding: 0.35em 0.56em 0.35em 0.56em;
  margin: 0 0.25em 0.25em 0;
  background-color: #f2f2f2;
  display: inline-block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  white-space: nowrap; }

.tag_highlighted {
  background-color: yellow !important;
  font-weight: bold; }

/* ************************** Badges ******************************** */
/* ****************************************************************** */
.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 0.85rem;
  font-size: 15.3px;
  color: #ffffff;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  background-color: #388E3C;
  border-radius: 10px;
  /*
  .button & {
    position: relative;
    top: -1px;

  }*/ }
  .badge:empty {
    display: none; }

a.badge:hover,
a.badge:focus {
  color: #FF9800;
  text-decoration: none;
  cursor: pointer; }

/* *********************** VISIBILITY CLASSES *********************** */
/* ****************************************************************** */
/* small displays */
@media only screen {
  .show-for-small-only, .show-for-small-up, .show-for-small, .show-for-small-down, .hide-for-medium-only, .hide-for-medium-up, .hide-for-medium, .show-for-medium-down, .hide-for-large-only, .hide-for-large-up, .hide-for-large, .show-for-large-down, .hide-for-xlarge-only, .hide-for-xlarge-up, .hide-for-xlarge, .show-for-xlarge-down, .hide-for-xxlarge-only, .hide-for-xxlarge-up, .hide-for-xxlarge, .show-for-xxlarge-down {
    display: inherit !important; }
  .hide-for-small-only, .hide-for-small-up, .hide-for-small, .hide-for-small-down, .show-for-medium-only, .show-for-medium-up, .show-for-medium, .hide-for-medium-down, .show-for-large-only, .show-for-large-up, .show-for-large, .hide-for-large-down, .show-for-xlarge-only, .show-for-xlarge-up, .show-for-xlarge, .hide-for-xlarge-down, .show-for-xxlarge-only, .show-for-xxlarge-up, .show-for-xxlarge, .hide-for-xxlarge-down {
    display: none !important; }
  .visible-for-small-only, .visible-for-small-up, .visible-for-small, .visible-for-small-down, .hidden-for-medium-only, .hidden-for-medium-up, .hidden-for-medium, .visible-for-medium-down, .hidden-for-large-only, .hidden-for-large-up, .hidden-for-large, .visible-for-large-down, .hidden-for-xlarge-only, .hidden-for-xlarge-up, .hidden-for-xlarge, .visible-for-xlarge-down, .hidden-for-xxlarge-only, .hidden-for-xxlarge-up, .hidden-for-xxlarge, .visible-for-xxlarge-down {
    position: static !important;
    height: auto;
    width: auto;
    overflow: visible;
    clip: auto; }
  .hidden-for-small-only, .hidden-for-small-up, .hidden-for-small, .hidden-for-small-down, .visible-for-medium-only, .visible-for-medium-up, .visible-for-medium, .hidden-for-medium-down, .visible-for-large-only, .visible-for-large-up, .visible-for-large, .hidden-for-large-down, .visible-for-xlarge-only, .visible-for-xlarge-up, .visible-for-xlarge, .hidden-for-xlarge-down, .visible-for-xxlarge-only, .visible-for-xxlarge-up, .visible-for-xxlarge, .hidden-for-xxlarge-down {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px; } }

/* medium displays */
@media only screen and (min-width: 42.666em) {
  .hide-for-small-only, .show-for-small-up, .hide-for-small, .hide-for-small-down, .show-for-medium-only, .show-for-medium-up, .show-for-medium, .show-for-medium-down, .hide-for-large-only, .hide-for-large-up, .hide-for-large, .show-for-large-down, .hide-for-xlarge-only, .hide-for-xlarge-up, .hide-for-xlarge, .show-for-xlarge-down, .hide-for-xxlarge-only, .hide-for-xxlarge-up, .hide-for-xxlarge, .show-for-xxlarge-down {
    display: inherit !important; }
  .show-for-small-only, .hide-for-small-up, .show-for-small, .show-for-small-down, .hide-for-medium-only, .hide-for-medium-up, .hide-for-medium, .hide-for-medium-down, .show-for-large-only, .show-for-large-up, .show-for-large, .hide-for-large-down, .show-for-xlarge-only, .show-for-xlarge-up, .show-for-xlarge, .hide-for-xlarge-down, .show-for-xxlarge-only, .show-for-xxlarge-up, .show-for-xxlarge, .hide-for-xxlarge-down {
    display: none !important; }
  .hidden-for-small-only, .visible-for-small-up, .hidden-for-small, .hidden-for-small-down, .visible-for-medium-only, .visible-for-medium-up, .visible-for-medium, .visible-for-medium-down, .hidden-for-large-only, .hidden-for-large-up, .hidden-for-large, .visible-for-large-down, .hidden-for-xlarge-only, .hidden-for-xlarge-up, .hidden-for-xlarge, .visible-for-xlarge-down, .hidden-for-xxlarge-only, .hidden-for-xxlarge-up, .hidden-for-xxlarge, .visible-for-xxlarge-down {
    position: static !important;
    height: auto;
    width: auto;
    overflow: visible;
    clip: auto; }
  .visible-for-small-only, .hidden-for-small-up, .visible-for-small, .visible-for-small-down, .hidden-for-medium-only, .hidden-for-medium-up, .hidden-for-medium, .hidden-for-medium-down, .visible-for-large-only, .visible-for-large-up, .visible-for-large, .hidden-for-large-down, .visible-for-xlarge-only, .visible-for-xlarge-up, .visible-for-xlarge, .hidden-for-xlarge-down, .visible-for-xxlarge-only, .visible-for-xxlarge-up, .visible-for-xxlarge, .hidden-for-xxlarge-down {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px; } }

/* large displays */
@media only screen and (min-width: 56.888em) {
  .hide-for-small-only, .show-for-small-up, .hide-for-small, .hide-for-small-down, .hide-for-medium-only, .show-for-medium-up, .hide-for-medium, .hide-for-medium-down, .show-for-large-only, .show-for-large-up, .show-for-large, .show-for-large-down, .hide-for-xlarge-only, .hide-for-xlarge-up, .hide-for-xlarge, .show-for-xlarge-down, .hide-for-xxlarge-only, .hide-for-xxlarge-up, .hide-for-xxlarge, .show-for-xxlarge-down {
    display: inherit !important; }
  .show-for-small-only, .hide-for-small-up, .show-for-small, .show-for-small-down, .show-for-medium-only, .hide-for-medium-up, .show-for-medium, .show-for-medium-down, .hide-for-large-only, .hide-for-large-up, .hide-for-large, .hide-for-large-down, .show-for-xlarge-only, .show-for-xlarge-up, .show-for-xlarge, .hide-for-xlarge-down, .show-for-xxlarge-only, .show-for-xxlarge-up, .show-for-xxlarge, .hide-for-xxlarge-down {
    display: none !important; }
  .hidden-for-small-only, .visible-for-small-up, .hidden-for-small, .hidden-for-small-down, .hidden-for-medium-only, .visible-for-medium-up, .hidden-for-medium, .hidden-for-medium-down, .visible-for-large-only, .visible-for-large-up, .visible-for-large, .visible-for-large-down, .hidden-for-xlarge-only, .hidden-for-xlarge-up, .hidden-for-xlarge, .visible-for-xlarge-down, .hidden-for-xxlarge-only, .hidden-for-xxlarge-up, .hidden-for-xxlarge, .visible-for-xxlarge-down {
    position: static !important;
    height: auto;
    width: auto;
    overflow: visible;
    clip: auto; }
  .visible-for-small-only, .hidden-for-small-up, .visible-for-small, .visible-for-small-down, .visible-for-medium-only, .hidden-for-medium-up, .visible-for-medium, .visible-for-medium-down, .hidden-for-large-only, .hidden-for-large-up, .hidden-for-large, .hidden-for-large-down, .visible-for-xlarge-only, .visible-for-xlarge-up, .visible-for-xlarge, .hidden-for-xlarge-down, .visible-for-xxlarge-only, .visible-for-xxlarge-up, .visible-for-xxlarge, .hidden-for-xxlarge-down {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px; } }

/*Screen reader spaecific visibility*/
.show-for-sr {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px; }

.hide {
  display: none !important; }

/* *********************** FEEDBACK BLOCKS *********************** */
/* *************************************************************** */
.feedback-block {
  font-size: 1rem;
  font-size: 18px;
  padding: 0.6em 0 0.6em 0;
  background-color: #f2f2f2;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  color: #484848;
  overflow: hidden;
  margin-bottom: 1.5rem;
  margin-bottom: 27px;
  width: 100%; }

.feedback-block .feedback-block-media {
  float: left;
  margin-left: 0.8rem;
  margin-left: 14.4px;
  margin-right: 1.2rem;
  margin-right: 21.6px; }

.feedback-block .feedback-block-media .fa {
  font-size: 2rem;
  font-size: 36px; }

.feedback-block .feedback-block-body {
  overflow: hidden;
  _overflow: visible;
  zoom: 1;
  margin-left: 0.8rem;
  margin-left: 14.4px; }

.feedback-block .feedback-block-body h4,
.feedback-block .feedback-block-body h1,
.feedback-block .feedback-block-body p {
  color: #484848; }

.feedback-block .feedback-block-body h4,
.feedback-block .feedback-block-body h1,
.feedback-block .feedback-block-body p {
  margin-bottom: 0rem;
  margin-bottom: 0px; }

.feedback-block .feedback-block-body p {
  line-height: 140%; }

div.success {
  background-color: #d4ece6; }

div.error {
  background-color: #f8d0c8; }

div.info {
  background-color: #ffeebf; }

@media screen and (max-width: 42.666em) {
  .feedback-block {
    text-align: center; }
  .feedback-block .feedback-block-media,
  .feedback-block .feedback-block-body {
    float: none;
    text-align: center;
    margin: 0.2em 0; }
  .feedback-block .feedback-block-body p {
    margin-top: 0.3rem;
    margin-top: 5.4px; } }

.pagination {
  text-align: center; }

.pagination .pagination-label {
  margin-bottom: 0.5rem;
  margin-bottom: 9px; }

.pagination a {
  font-size: 1rem;
  font-size: 18px;
  display: inline-block; }

.pagination .fa-chevron-right {
  margin-left: 0.5rem;
  margin-left: 9px; }

.pagination .fa-chevron-left {
  margin-right: 0.5rem;
  margin-right: 9px; }

.pagination .paginate-to-specific-page div {
  background-color: #f2f2f2;
  padding: 1em; }

.pagination .paginate-to-specific-page,
.pagination .paginate-to-specific-page a {
  font-size: 0.9rem;
  font-size: 16.2px; }

.pagination .paginate-to-specific-page label {
  display: inline;
  margin-right: 0.5rem;
  margin-right: 9px; }

@media screen and (min-width: 42.666em) {
  .pagination .paginate-to-specific-page div {
    width: 30%;
    margin-left: auto;
    margin-right: auto; } }

/* *********************** LOGIN *********************** */
/* ***************************************************** */
.login {
  background-color: #f2f2f2; }

.login .logo {
  margin-top: 2rem;
  margin-top: 36px;
  background: url(../../../images/generic-logo.png) no-repeat scroll 50% 0 transparent;
  height: 75px;
  margin-left: auto;
  margin-right: auto; }

.login h1 {
  margin-top: 2rem;
  margin-top: 36px;
  text-align: center;
  color: #666;
  font-weight: 300;
  display: none; }

.login-content {
  margin-top: 0rem;
  margin-top: 0px; }

.login-content .form-stacked label {
  margin-bottom: 0.5rem;
  margin-bottom: 9px;
  color: #111;
  font-weight: normal; }

.login-content .password input[type=password] {
  display: inline-block; }

.login-content .password .password-show {
  display: inline-block;
  font-size: 0.9rem;
  font-size: 16.2px;
  color: #666;
  text-align: center; }

.login-content .form-stacked .primary-button {
  display: block;
  width: 100%;
  margin-top: 0rem;
  margin-top: 0px; }

.login .login-links-container {
  margin-top: 2.2rem;
  margin-top: 39.6px;
  text-align: center; }

.login .login-links-container a {
  display: block;
  text-align: center; }

.login footer {
  text-align: center;
  font-size: 0.6rem;
  font-size: 10.8px;
  color: #999; }

.login footer div:first-child a {
  font-size: 0.9rem;
  font-size: 16.2px;
  color: #999; }

@media only screen and (max-width: 42.666em) {
  .password .field-help-text {
    display: inline-block;
    float: right;
    margin-top: 0.25rem;
    margin-top: 4.5px; } }

@media screen and (min-width: 42.666em) {
  .login h1 {
    display: block; }
  .login-content .password .password-show {
    margin-left: 1rem;
    margin-left: 18px; }
  .login .login-links-container a {
    display: inline; } }

/* *********************** ICON FONTS *********************** */
/* ********************************************************** */
/*!
 *  Font Awesome 4.3.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("../styles/vendors/font-awesome/fonts/fontawesome-webfont.eot?v=4.3.0");
  src: url("../styles/vendors/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"), url("../styles/vendors/font-awesome/fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"), url("../styles/vendors/font-awesome/fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"), url("../styles/vendors/font-awesome/fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"), url("../styles/vendors/font-awesome/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0); }

/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -15%; }

.fa-2x {
  font-size: 2em; }

.fa-3x {
  font-size: 3em; }

.fa-4x {
  font-size: 4em; }

.fa-5x {
  font-size: 5em; }

.fa-fw {
  width: 1.28571em;
  text-align: center; }

.fa-ul {
  padding-left: 0;
  margin-left: 2.14286em;
  list-style-type: none; }
  .fa-ul > li {
    position: relative; }

.fa-li {
  position: absolute;
  left: -2.14286em;
  width: 2.14286em;
  top: 0.14286em;
  text-align: center; }
  .fa-li.fa-lg {
    left: -1.85714em; }

.fa-border {
  padding: 0.2em 0.25em 0.15em;
  border: solid 0.08em #eee;
  border-radius: .1em; }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

.fa.pull-left {
  margin-right: .3em; }

.fa.pull-right {
  margin-left: .3em; }

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear; }

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8); }

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

.fa-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.fa-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.fa-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg); }

.fa-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1); }

.fa-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1); }

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  filter: none; }

.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle; }

.fa-stack-1x, .fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center; }

.fa-stack-1x {
  line-height: inherit; }

.fa-stack-2x {
  font-size: 2em; }

.fa-inverse {
  color: #fff; }

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
  content: ""; }

.fa-music:before {
  content: ""; }

.fa-search:before {
  content: ""; }

.fa-envelope-o:before {
  content: ""; }

.fa-heart:before {
  content: ""; }

.fa-star:before {
  content: ""; }

.fa-star-o:before {
  content: ""; }

.fa-user:before {
  content: ""; }

.fa-film:before {
  content: ""; }

.fa-th-large:before {
  content: ""; }

.fa-th:before {
  content: ""; }

.fa-th-list:before {
  content: ""; }

.fa-check:before {
  content: ""; }

.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: ""; }

.fa-search-plus:before {
  content: ""; }

.fa-search-minus:before {
  content: ""; }

.fa-power-off:before {
  content: ""; }

.fa-signal:before {
  content: ""; }

.fa-gear:before,
.fa-cog:before {
  content: ""; }

.fa-trash-o:before {
  content: ""; }

.fa-home:before {
  content: ""; }

.fa-file-o:before {
  content: ""; }

.fa-clock-o:before {
  content: ""; }

.fa-road:before {
  content: ""; }

.fa-download:before {
  content: ""; }

.fa-arrow-circle-o-down:before {
  content: ""; }

.fa-arrow-circle-o-up:before {
  content: ""; }

.fa-inbox:before {
  content: ""; }

.fa-play-circle-o:before {
  content: ""; }

.fa-rotate-right:before,
.fa-repeat:before {
  content: ""; }

.fa-refresh:before {
  content: ""; }

.fa-list-alt:before {
  content: ""; }

.fa-lock:before {
  content: ""; }

.fa-flag:before {
  content: ""; }

.fa-headphones:before {
  content: ""; }

.fa-volume-off:before {
  content: ""; }

.fa-volume-down:before {
  content: ""; }

.fa-volume-up:before {
  content: ""; }

.fa-qrcode:before {
  content: ""; }

.fa-barcode:before {
  content: ""; }

.fa-tag:before {
  content: ""; }

.fa-tags:before {
  content: ""; }

.fa-book:before {
  content: ""; }

.fa-bookmark:before {
  content: ""; }

.fa-print:before {
  content: ""; }

.fa-camera:before {
  content: ""; }

.fa-font:before {
  content: ""; }

.fa-bold:before {
  content: ""; }

.fa-italic:before {
  content: ""; }

.fa-text-height:before {
  content: ""; }

.fa-text-width:before {
  content: ""; }

.fa-align-left:before {
  content: ""; }

.fa-align-center:before {
  content: ""; }

.fa-align-right:before {
  content: ""; }

.fa-align-justify:before {
  content: ""; }

.fa-list:before {
  content: ""; }

.fa-dedent:before,
.fa-outdent:before {
  content: ""; }

.fa-indent:before {
  content: ""; }

.fa-video-camera:before {
  content: ""; }

.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: ""; }

.fa-pencil:before {
  content: ""; }

.fa-map-marker:before {
  content: ""; }

.fa-adjust:before {
  content: ""; }

.fa-tint:before {
  content: ""; }

.fa-edit:before,
.fa-pencil-square-o:before {
  content: ""; }

.fa-share-square-o:before {
  content: ""; }

.fa-check-square-o:before {
  content: ""; }

.fa-arrows:before {
  content: ""; }

.fa-step-backward:before {
  content: ""; }

.fa-fast-backward:before {
  content: ""; }

.fa-backward:before {
  content: ""; }

.fa-play:before {
  content: ""; }

.fa-pause:before {
  content: ""; }

.fa-stop:before {
  content: ""; }

.fa-forward:before {
  content: ""; }

.fa-fast-forward:before {
  content: ""; }

.fa-step-forward:before {
  content: ""; }

.fa-eject:before {
  content: ""; }

.fa-chevron-left:before {
  content: ""; }

.fa-chevron-right:before {
  content: ""; }

.fa-plus-circle:before {
  content: ""; }

.fa-minus-circle:before {
  content: ""; }

.fa-times-circle:before {
  content: ""; }

.fa-check-circle:before {
  content: ""; }

.fa-question-circle:before {
  content: ""; }

.fa-info-circle:before {
  content: ""; }

.fa-crosshairs:before {
  content: ""; }

.fa-times-circle-o:before {
  content: ""; }

.fa-check-circle-o:before {
  content: ""; }

.fa-ban:before {
  content: ""; }

.fa-arrow-left:before {
  content: ""; }

.fa-arrow-right:before {
  content: ""; }

.fa-arrow-up:before {
  content: ""; }

.fa-arrow-down:before {
  content: ""; }

.fa-mail-forward:before,
.fa-share:before {
  content: ""; }

.fa-expand:before {
  content: ""; }

.fa-compress:before {
  content: ""; }

.fa-plus:before {
  content: ""; }

.fa-minus:before {
  content: ""; }

.fa-asterisk:before {
  content: ""; }

.fa-exclamation-circle:before {
  content: ""; }

.fa-gift:before {
  content: ""; }

.fa-leaf:before {
  content: ""; }

.fa-fire:before {
  content: ""; }

.fa-eye:before {
  content: ""; }

.fa-eye-slash:before {
  content: ""; }

.fa-warning:before,
.fa-exclamation-triangle:before {
  content: ""; }

.fa-plane:before {
  content: ""; }

.fa-calendar:before {
  content: ""; }

.fa-random:before {
  content: ""; }

.fa-comment:before {
  content: ""; }

.fa-magnet:before {
  content: ""; }

.fa-chevron-up:before {
  content: ""; }

.fa-chevron-down:before {
  content: ""; }

.fa-retweet:before {
  content: ""; }

.fa-shopping-cart:before {
  content: ""; }

.fa-folder:before {
  content: ""; }

.fa-folder-open:before {
  content: ""; }

.fa-arrows-v:before {
  content: ""; }

.fa-arrows-h:before {
  content: ""; }

.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: ""; }

.fa-twitter-square:before {
  content: ""; }

.fa-facebook-square:before {
  content: ""; }

.fa-camera-retro:before {
  content: ""; }

.fa-key:before {
  content: ""; }

.fa-gears:before,
.fa-cogs:before {
  content: ""; }

.fa-comments:before {
  content: ""; }

.fa-thumbs-o-up:before {
  content: ""; }

.fa-thumbs-o-down:before {
  content: ""; }

.fa-star-half:before {
  content: ""; }

.fa-heart-o:before {
  content: ""; }

.fa-sign-out:before {
  content: ""; }

.fa-linkedin-square:before {
  content: ""; }

.fa-thumb-tack:before {
  content: ""; }

.fa-external-link:before {
  content: ""; }

.fa-sign-in:before {
  content: ""; }

.fa-trophy:before {
  content: ""; }

.fa-github-square:before {
  content: ""; }

.fa-upload:before {
  content: ""; }

.fa-lemon-o:before {
  content: ""; }

.fa-phone:before {
  content: ""; }

.fa-square-o:before {
  content: ""; }

.fa-bookmark-o:before {
  content: ""; }

.fa-phone-square:before {
  content: ""; }

.fa-twitter:before {
  content: ""; }

.fa-facebook-f:before,
.fa-facebook:before {
  content: ""; }

.fa-github:before {
  content: ""; }

.fa-unlock:before {
  content: ""; }

.fa-credit-card:before {
  content: ""; }

.fa-rss:before {
  content: ""; }

.fa-hdd-o:before {
  content: ""; }

.fa-bullhorn:before {
  content: ""; }

.fa-bell:before {
  content: ""; }

.fa-certificate:before {
  content: ""; }

.fa-hand-o-right:before {
  content: ""; }

.fa-hand-o-left:before {
  content: ""; }

.fa-hand-o-up:before {
  content: ""; }

.fa-hand-o-down:before {
  content: ""; }

.fa-arrow-circle-left:before {
  content: ""; }

.fa-arrow-circle-right:before {
  content: ""; }

.fa-arrow-circle-up:before {
  content: ""; }

.fa-arrow-circle-down:before {
  content: ""; }

.fa-globe:before {
  content: ""; }

.fa-wrench:before {
  content: ""; }

.fa-tasks:before {
  content: ""; }

.fa-filter:before {
  content: ""; }

.fa-briefcase:before {
  content: ""; }

.fa-arrows-alt:before {
  content: ""; }

.fa-group:before,
.fa-users:before {
  content: ""; }

.fa-chain:before,
.fa-link:before {
  content: ""; }

.fa-cloud:before {
  content: ""; }

.fa-flask:before {
  content: ""; }

.fa-cut:before,
.fa-scissors:before {
  content: ""; }

.fa-copy:before,
.fa-files-o:before {
  content: ""; }

.fa-paperclip:before {
  content: ""; }

.fa-save:before,
.fa-floppy-o:before {
  content: ""; }

.fa-square:before {
  content: ""; }

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: ""; }

.fa-list-ul:before {
  content: ""; }

.fa-list-ol:before {
  content: ""; }

.fa-strikethrough:before {
  content: ""; }

.fa-underline:before {
  content: ""; }

.fa-table:before {
  content: ""; }

.fa-magic:before {
  content: ""; }

.fa-truck:before {
  content: ""; }

.fa-pinterest:before {
  content: ""; }

.fa-pinterest-square:before {
  content: ""; }

.fa-google-plus-square:before {
  content: ""; }

.fa-google-plus:before {
  content: ""; }

.fa-money:before {
  content: ""; }

.fa-caret-down:before {
  content: ""; }

.fa-caret-up:before {
  content: ""; }

.fa-caret-left:before {
  content: ""; }

.fa-caret-right:before {
  content: ""; }

.fa-columns:before {
  content: ""; }

.fa-unsorted:before,
.fa-sort:before {
  content: ""; }

.fa-sort-down:before,
.fa-sort-desc:before {
  content: ""; }

.fa-sort-up:before,
.fa-sort-asc:before {
  content: ""; }

.fa-envelope:before {
  content: ""; }

.fa-linkedin:before {
  content: ""; }

.fa-rotate-left:before,
.fa-undo:before {
  content: ""; }

.fa-legal:before,
.fa-gavel:before {
  content: ""; }

.fa-dashboard:before,
.fa-tachometer:before {
  content: ""; }

.fa-comment-o:before {
  content: ""; }

.fa-comments-o:before {
  content: ""; }

.fa-flash:before,
.fa-bolt:before {
  content: ""; }

.fa-sitemap:before {
  content: ""; }

.fa-umbrella:before {
  content: ""; }

.fa-paste:before,
.fa-clipboard:before {
  content: ""; }

.fa-lightbulb-o:before {
  content: ""; }

.fa-exchange:before {
  content: ""; }

.fa-cloud-download:before {
  content: ""; }

.fa-cloud-upload:before {
  content: ""; }

.fa-user-md:before {
  content: ""; }

.fa-stethoscope:before {
  content: ""; }

.fa-suitcase:before {
  content: ""; }

.fa-bell-o:before {
  content: ""; }

.fa-coffee:before {
  content: ""; }

.fa-cutlery:before {
  content: ""; }

.fa-file-text-o:before {
  content: ""; }

.fa-building-o:before {
  content: ""; }

.fa-hospital-o:before {
  content: ""; }

.fa-ambulance:before {
  content: ""; }

.fa-medkit:before {
  content: ""; }

.fa-fighter-jet:before {
  content: ""; }

.fa-beer:before {
  content: ""; }

.fa-h-square:before {
  content: ""; }

.fa-plus-square:before {
  content: ""; }

.fa-angle-double-left:before {
  content: ""; }

.fa-angle-double-right:before {
  content: ""; }

.fa-angle-double-up:before {
  content: ""; }

.fa-angle-double-down:before {
  content: ""; }

.fa-angle-left:before {
  content: ""; }

.fa-angle-right:before {
  content: ""; }

.fa-angle-up:before {
  content: ""; }

.fa-angle-down:before {
  content: ""; }

.fa-desktop:before {
  content: ""; }

.fa-laptop:before {
  content: ""; }

.fa-tablet:before {
  content: ""; }

.fa-mobile-phone:before,
.fa-mobile:before {
  content: ""; }

.fa-circle-o:before {
  content: ""; }

.fa-quote-left:before {
  content: ""; }

.fa-quote-right:before {
  content: ""; }

.fa-spinner:before {
  content: ""; }

.fa-circle:before {
  content: ""; }

.fa-mail-reply:before,
.fa-reply:before {
  content: ""; }

.fa-github-alt:before {
  content: ""; }

.fa-folder-o:before {
  content: ""; }

.fa-folder-open-o:before {
  content: ""; }

.fa-smile-o:before {
  content: ""; }

.fa-frown-o:before {
  content: ""; }

.fa-meh-o:before {
  content: ""; }

.fa-gamepad:before {
  content: ""; }

.fa-keyboard-o:before {
  content: ""; }

.fa-flag-o:before {
  content: ""; }

.fa-flag-checkered:before {
  content: ""; }

.fa-terminal:before {
  content: ""; }

.fa-code:before {
  content: ""; }

.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: ""; }

.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: ""; }

.fa-location-arrow:before {
  content: ""; }

.fa-crop:before {
  content: ""; }

.fa-code-fork:before {
  content: ""; }

.fa-unlink:before,
.fa-chain-broken:before {
  content: ""; }

.fa-question:before {
  content: ""; }

.fa-info:before {
  content: ""; }

.fa-exclamation:before {
  content: ""; }

.fa-superscript:before {
  content: ""; }

.fa-subscript:before {
  content: ""; }

.fa-eraser:before {
  content: ""; }

.fa-puzzle-piece:before {
  content: ""; }

.fa-microphone:before {
  content: ""; }

.fa-microphone-slash:before {
  content: ""; }

.fa-shield:before {
  content: ""; }

.fa-calendar-o:before {
  content: ""; }

.fa-fire-extinguisher:before {
  content: ""; }

.fa-rocket:before {
  content: ""; }

.fa-maxcdn:before {
  content: ""; }

.fa-chevron-circle-left:before {
  content: ""; }

.fa-chevron-circle-right:before {
  content: ""; }

.fa-chevron-circle-up:before {
  content: ""; }

.fa-chevron-circle-down:before {
  content: ""; }

.fa-html5:before {
  content: ""; }

.fa-css3:before {
  content: ""; }

.fa-anchor:before {
  content: ""; }

.fa-unlock-alt:before {
  content: ""; }

.fa-bullseye:before {
  content: ""; }

.fa-ellipsis-h:before {
  content: ""; }

.fa-ellipsis-v:before {
  content: ""; }

.fa-rss-square:before {
  content: ""; }

.fa-play-circle:before {
  content: ""; }

.fa-ticket:before {
  content: ""; }

.fa-minus-square:before {
  content: ""; }

.fa-minus-square-o:before {
  content: ""; }

.fa-level-up:before {
  content: ""; }

.fa-level-down:before {
  content: ""; }

.fa-check-square:before {
  content: ""; }

.fa-pencil-square:before {
  content: ""; }

.fa-external-link-square:before {
  content: ""; }

.fa-share-square:before {
  content: ""; }

.fa-compass:before {
  content: ""; }

.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: ""; }

.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: ""; }

.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: ""; }

.fa-euro:before,
.fa-eur:before {
  content: ""; }

.fa-gbp:before {
  content: ""; }

.fa-dollar:before,
.fa-usd:before {
  content: ""; }

.fa-rupee:before,
.fa-inr:before {
  content: ""; }

.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: ""; }

.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: ""; }

.fa-won:before,
.fa-krw:before {
  content: ""; }

.fa-bitcoin:before,
.fa-btc:before {
  content: ""; }

.fa-file:before {
  content: ""; }

.fa-file-text:before {
  content: ""; }

.fa-sort-alpha-asc:before {
  content: ""; }

.fa-sort-alpha-desc:before {
  content: ""; }

.fa-sort-amount-asc:before {
  content: ""; }

.fa-sort-amount-desc:before {
  content: ""; }

.fa-sort-numeric-asc:before {
  content: ""; }

.fa-sort-numeric-desc:before {
  content: ""; }

.fa-thumbs-up:before {
  content: ""; }

.fa-thumbs-down:before {
  content: ""; }

.fa-youtube-square:before {
  content: ""; }

.fa-youtube:before {
  content: ""; }

.fa-xing:before {
  content: ""; }

.fa-xing-square:before {
  content: ""; }

.fa-youtube-play:before {
  content: ""; }

.fa-dropbox:before {
  content: ""; }

.fa-stack-overflow:before {
  content: ""; }

.fa-instagram:before {
  content: ""; }

.fa-flickr:before {
  content: ""; }

.fa-adn:before {
  content: ""; }

.fa-bitbucket:before {
  content: ""; }

.fa-bitbucket-square:before {
  content: ""; }

.fa-tumblr:before {
  content: ""; }

.fa-tumblr-square:before {
  content: ""; }

.fa-long-arrow-down:before {
  content: ""; }

.fa-long-arrow-up:before {
  content: ""; }

.fa-long-arrow-left:before {
  content: ""; }

.fa-long-arrow-right:before {
  content: ""; }

.fa-apple:before {
  content: ""; }

.fa-windows:before {
  content: ""; }

.fa-android:before {
  content: ""; }

.fa-linux:before {
  content: ""; }

.fa-dribbble:before {
  content: ""; }

.fa-skype:before {
  content: ""; }

.fa-foursquare:before {
  content: ""; }

.fa-trello:before {
  content: ""; }

.fa-female:before {
  content: ""; }

.fa-male:before {
  content: ""; }

.fa-gittip:before,
.fa-gratipay:before {
  content: ""; }

.fa-sun-o:before {
  content: ""; }

.fa-moon-o:before {
  content: ""; }

.fa-archive:before {
  content: ""; }

.fa-bug:before {
  content: ""; }

.fa-vk:before {
  content: ""; }

.fa-weibo:before {
  content: ""; }

.fa-renren:before {
  content: ""; }

.fa-pagelines:before {
  content: ""; }

.fa-stack-exchange:before {
  content: ""; }

.fa-arrow-circle-o-right:before {
  content: ""; }

.fa-arrow-circle-o-left:before {
  content: ""; }

.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: ""; }

.fa-dot-circle-o:before {
  content: ""; }

.fa-wheelchair:before {
  content: ""; }

.fa-vimeo-square:before {
  content: ""; }

.fa-turkish-lira:before,
.fa-try:before {
  content: ""; }

.fa-plus-square-o:before {
  content: ""; }

.fa-space-shuttle:before {
  content: ""; }

.fa-slack:before {
  content: ""; }

.fa-envelope-square:before {
  content: ""; }

.fa-wordpress:before {
  content: ""; }

.fa-openid:before {
  content: ""; }

.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: ""; }

.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: ""; }

.fa-yahoo:before {
  content: ""; }

.fa-google:before {
  content: ""; }

.fa-reddit:before {
  content: ""; }

.fa-reddit-square:before {
  content: ""; }

.fa-stumbleupon-circle:before {
  content: ""; }

.fa-stumbleupon:before {
  content: ""; }

.fa-delicious:before {
  content: ""; }

.fa-digg:before {
  content: ""; }

.fa-pied-piper:before {
  content: ""; }

.fa-pied-piper-alt:before {
  content: ""; }

.fa-drupal:before {
  content: ""; }

.fa-joomla:before {
  content: ""; }

.fa-language:before {
  content: ""; }

.fa-fax:before {
  content: ""; }

.fa-building:before {
  content: ""; }

.fa-child:before {
  content: ""; }

.fa-paw:before {
  content: ""; }

.fa-spoon:before {
  content: ""; }

.fa-cube:before {
  content: ""; }

.fa-cubes:before {
  content: ""; }

.fa-behance:before {
  content: ""; }

.fa-behance-square:before {
  content: ""; }

.fa-steam:before {
  content: ""; }

.fa-steam-square:before {
  content: ""; }

.fa-recycle:before {
  content: ""; }

.fa-automobile:before,
.fa-car:before {
  content: ""; }

.fa-cab:before,
.fa-taxi:before {
  content: ""; }

.fa-tree:before {
  content: ""; }

.fa-spotify:before {
  content: ""; }

.fa-deviantart:before {
  content: ""; }

.fa-soundcloud:before {
  content: ""; }

.fa-database:before {
  content: ""; }

.fa-file-pdf-o:before {
  content: ""; }

.fa-file-word-o:before {
  content: ""; }

.fa-file-excel-o:before {
  content: ""; }

.fa-file-powerpoint-o:before {
  content: ""; }

.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: ""; }

.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: ""; }

.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: ""; }

.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: ""; }

.fa-file-code-o:before {
  content: ""; }

.fa-vine:before {
  content: ""; }

.fa-codepen:before {
  content: ""; }

.fa-jsfiddle:before {
  content: ""; }

.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: ""; }

.fa-circle-o-notch:before {
  content: ""; }

.fa-ra:before,
.fa-rebel:before {
  content: ""; }

.fa-ge:before,
.fa-empire:before {
  content: ""; }

.fa-git-square:before {
  content: ""; }

.fa-git:before {
  content: ""; }

.fa-hacker-news:before {
  content: ""; }

.fa-tencent-weibo:before {
  content: ""; }

.fa-qq:before {
  content: ""; }

.fa-wechat:before,
.fa-weixin:before {
  content: ""; }

.fa-send:before,
.fa-paper-plane:before {
  content: ""; }

.fa-send-o:before,
.fa-paper-plane-o:before {
  content: ""; }

.fa-history:before {
  content: ""; }

.fa-genderless:before,
.fa-circle-thin:before {
  content: ""; }

.fa-header:before {
  content: ""; }

.fa-paragraph:before {
  content: ""; }

.fa-sliders:before {
  content: ""; }

.fa-share-alt:before {
  content: ""; }

.fa-share-alt-square:before {
  content: ""; }

.fa-bomb:before {
  content: ""; }

.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: ""; }

.fa-tty:before {
  content: ""; }

.fa-binoculars:before {
  content: ""; }

.fa-plug:before {
  content: ""; }

.fa-slideshare:before {
  content: ""; }

.fa-twitch:before {
  content: ""; }

.fa-yelp:before {
  content: ""; }

.fa-newspaper-o:before {
  content: ""; }

.fa-wifi:before {
  content: ""; }

.fa-calculator:before {
  content: ""; }

.fa-paypal:before {
  content: ""; }

.fa-google-wallet:before {
  content: ""; }

.fa-cc-visa:before {
  content: ""; }

.fa-cc-mastercard:before {
  content: ""; }

.fa-cc-discover:before {
  content: ""; }

.fa-cc-amex:before {
  content: ""; }

.fa-cc-paypal:before {
  content: ""; }

.fa-cc-stripe:before {
  content: ""; }

.fa-bell-slash:before {
  content: ""; }

.fa-bell-slash-o:before {
  content: ""; }

.fa-trash:before {
  content: ""; }

.fa-copyright:before {
  content: ""; }

.fa-at:before {
  content: ""; }

.fa-eyedropper:before {
  content: ""; }

.fa-paint-brush:before {
  content: ""; }

.fa-birthday-cake:before {
  content: ""; }

.fa-area-chart:before {
  content: ""; }

.fa-pie-chart:before {
  content: ""; }

.fa-line-chart:before {
  content: ""; }

.fa-lastfm:before {
  content: ""; }

.fa-lastfm-square:before {
  content: ""; }

.fa-toggle-off:before {
  content: ""; }

.fa-toggle-on:before {
  content: ""; }

.fa-bicycle:before {
  content: ""; }

.fa-bus:before {
  content: ""; }

.fa-ioxhost:before {
  content: ""; }

.fa-angellist:before {
  content: ""; }

.fa-cc:before {
  content: ""; }

.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: ""; }

.fa-meanpath:before {
  content: ""; }

.fa-buysellads:before {
  content: ""; }

.fa-connectdevelop:before {
  content: ""; }

.fa-dashcube:before {
  content: ""; }

.fa-forumbee:before {
  content: ""; }

.fa-leanpub:before {
  content: ""; }

.fa-sellsy:before {
  content: ""; }

.fa-shirtsinbulk:before {
  content: ""; }

.fa-simplybuilt:before {
  content: ""; }

.fa-skyatlas:before {
  content: ""; }

.fa-cart-plus:before {
  content: ""; }

.fa-cart-arrow-down:before {
  content: ""; }

.fa-diamond:before {
  content: ""; }

.fa-ship:before {
  content: ""; }

.fa-user-secret:before {
  content: ""; }

.fa-motorcycle:before {
  content: ""; }

.fa-street-view:before {
  content: ""; }

.fa-heartbeat:before {
  content: ""; }

.fa-venus:before {
  content: ""; }

.fa-mars:before {
  content: ""; }

.fa-mercury:before {
  content: ""; }

.fa-transgender:before {
  content: ""; }

.fa-transgender-alt:before {
  content: ""; }

.fa-venus-double:before {
  content: ""; }

.fa-mars-double:before {
  content: ""; }

.fa-venus-mars:before {
  content: ""; }

.fa-mars-stroke:before {
  content: ""; }

.fa-mars-stroke-v:before {
  content: ""; }

.fa-mars-stroke-h:before {
  content: ""; }

.fa-neuter:before {
  content: ""; }

.fa-facebook-official:before {
  content: ""; }

.fa-pinterest-p:before {
  content: ""; }

.fa-whatsapp:before {
  content: ""; }

.fa-server:before {
  content: ""; }

.fa-user-plus:before {
  content: ""; }

.fa-user-times:before {
  content: ""; }

.fa-hotel:before,
.fa-bed:before {
  content: ""; }

.fa-viacoin:before {
  content: ""; }

.fa-train:before {
  content: ""; }

.fa-subway:before {
  content: ""; }

.fa-medium:before {
  content: ""; }

/*PE Icon Fonts (http://themes-pixeden.com/font-demos/7-stroke/)*/
@font-face {
  font-family: 'Pe-icon-7-stroke';
  src: url("../styles/vendors/pe-icon-7-stroke/fonts/Pe-icon-7-stroke.eot?d7yf1v");
  src: url("../styles/vendors/pe-icon-7-stroke/fonts/Pe-icon-7-stroke.eot?#iefixd7yf1v") format("embedded-opentype"), url("../styles/vendors/pe-icon-7-stroke/fonts/Pe-icon-7-stroke.woff?d7yf1v") format("woff"), url("../styles/vendors/pe-icon-7-stroke/fonts/Pe-icon-7-stroke.ttf?d7yf1v") format("truetype"), url("../styles/vendors/pe-icon-7-stroke/fonts/Pe-icon-7-stroke.svg?d7yf1v#Pe-icon-7-stroke") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="pe-7s-"], [class*=" pe-7s-"] {
  display: inline-block;
  font-family: 'Pe-icon-7-stroke';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.pe-7s-album:before {
  content: "\e6aa"; }

.pe-7s-arc:before {
  content: "\e6ab"; }

.pe-7s-back-2:before {
  content: "\e6ac"; }

.pe-7s-bandaid:before {
  content: "\e6ad"; }

.pe-7s-car:before {
  content: "\e6ae"; }

.pe-7s-diamond:before {
  content: "\e6af"; }

.pe-7s-door-lock:before {
  content: "\e6b0"; }

.pe-7s-eyedropper:before {
  content: "\e6b1"; }

.pe-7s-female:before {
  content: "\e6b2"; }

.pe-7s-gym:before {
  content: "\e6b3"; }

.pe-7s-hammer:before {
  content: "\e6b4"; }

.pe-7s-headphones:before {
  content: "\e6b5"; }

.pe-7s-helm:before {
  content: "\e6b6"; }

.pe-7s-hourglass:before {
  content: "\e6b7"; }

.pe-7s-leaf:before {
  content: "\e6b8"; }

.pe-7s-magic-wand:before {
  content: "\e6b9"; }

.pe-7s-male:before {
  content: "\e6ba"; }

.pe-7s-map-2:before {
  content: "\e6bb"; }

.pe-7s-next-2:before {
  content: "\e6bc"; }

.pe-7s-paint-bucket:before {
  content: "\e6bd"; }

.pe-7s-pendrive:before {
  content: "\e6be"; }

.pe-7s-photo:before {
  content: "\e6bf"; }

.pe-7s-piggy:before {
  content: "\e6c0"; }

.pe-7s-plugin:before {
  content: "\e6c1"; }

.pe-7s-refresh-2:before {
  content: "\e6c2"; }

.pe-7s-rocket:before {
  content: "\e6c3"; }

.pe-7s-settings:before {
  content: "\e6c4"; }

.pe-7s-shield:before {
  content: "\e6c5"; }

.pe-7s-smile:before {
  content: "\e6c6"; }

.pe-7s-usb:before {
  content: "\e6c7"; }

.pe-7s-vector:before {
  content: "\e6c8"; }

.pe-7s-wine:before {
  content: "\e6c9"; }

.pe-7s-cloud-upload:before {
  content: "\e68a"; }

.pe-7s-cash:before {
  content: "\e68c"; }

.pe-7s-close:before {
  content: "\e680"; }

.pe-7s-bluetooth:before {
  content: "\e68d"; }

.pe-7s-cloud-download:before {
  content: "\e68b"; }

.pe-7s-way:before {
  content: "\e68e"; }

.pe-7s-close-circle:before {
  content: "\e681"; }

.pe-7s-id:before {
  content: "\e68f"; }

.pe-7s-angle-up:before {
  content: "\e682"; }

.pe-7s-wristwatch:before {
  content: "\e690"; }

.pe-7s-angle-up-circle:before {
  content: "\e683"; }

.pe-7s-world:before {
  content: "\e691"; }

.pe-7s-angle-right:before {
  content: "\e684"; }

.pe-7s-volume:before {
  content: "\e692"; }

.pe-7s-angle-right-circle:before {
  content: "\e685"; }

.pe-7s-users:before {
  content: "\e693"; }

.pe-7s-angle-left:before {
  content: "\e686"; }

.pe-7s-user-female:before {
  content: "\e694"; }

.pe-7s-angle-left-circle:before {
  content: "\e687"; }

.pe-7s-up-arrow:before {
  content: "\e695"; }

.pe-7s-angle-down:before {
  content: "\e688"; }

.pe-7s-switch:before {
  content: "\e696"; }

.pe-7s-angle-down-circle:before {
  content: "\e689"; }

.pe-7s-scissors:before {
  content: "\e697"; }

.pe-7s-wallet:before {
  content: "\e600"; }

.pe-7s-safe:before {
  content: "\e698"; }

.pe-7s-volume2:before {
  content: "\e601"; }

.pe-7s-volume1:before {
  content: "\e602"; }

.pe-7s-voicemail:before {
  content: "\e603"; }

.pe-7s-video:before {
  content: "\e604"; }

.pe-7s-user:before {
  content: "\e605"; }

.pe-7s-upload:before {
  content: "\e606"; }

.pe-7s-unlock:before {
  content: "\e607"; }

.pe-7s-umbrella:before {
  content: "\e608"; }

.pe-7s-trash:before {
  content: "\e609"; }

.pe-7s-tools:before {
  content: "\e60a"; }

.pe-7s-timer:before {
  content: "\e60b"; }

.pe-7s-ticket:before {
  content: "\e60c"; }

.pe-7s-target:before {
  content: "\e60d"; }

.pe-7s-sun:before {
  content: "\e60e"; }

.pe-7s-study:before {
  content: "\e60f"; }

.pe-7s-stopwatch:before {
  content: "\e610"; }

.pe-7s-star:before {
  content: "\e611"; }

.pe-7s-speaker:before {
  content: "\e612"; }

.pe-7s-signal:before {
  content: "\e613"; }

.pe-7s-shuffle:before {
  content: "\e614"; }

.pe-7s-shopbag:before {
  content: "\e615"; }

.pe-7s-share:before {
  content: "\e616"; }

.pe-7s-server:before {
  content: "\e617"; }

.pe-7s-search:before {
  content: "\e618"; }

.pe-7s-film:before {
  content: "\e6a5"; }

.pe-7s-science:before {
  content: "\e619"; }

.pe-7s-disk:before {
  content: "\e6a6"; }

.pe-7s-ribbon:before {
  content: "\e61a"; }

.pe-7s-repeat:before {
  content: "\e61b"; }

.pe-7s-refresh:before {
  content: "\e61c"; }

.pe-7s-add-user:before {
  content: "\e6a9"; }

.pe-7s-refresh-cloud:before {
  content: "\e61d"; }

.pe-7s-paperclip:before {
  content: "\e69c"; }

.pe-7s-radio:before {
  content: "\e61e"; }

.pe-7s-note2:before {
  content: "\e69d"; }

.pe-7s-print:before {
  content: "\e61f"; }

.pe-7s-network:before {
  content: "\e69e"; }

.pe-7s-prev:before {
  content: "\e620"; }

.pe-7s-mute:before {
  content: "\e69f"; }

.pe-7s-power:before {
  content: "\e621"; }

.pe-7s-medal:before {
  content: "\e6a0"; }

.pe-7s-portfolio:before {
  content: "\e622"; }

.pe-7s-like2:before {
  content: "\e6a1"; }

.pe-7s-plus:before {
  content: "\e623"; }

.pe-7s-left-arrow:before {
  content: "\e6a2"; }

.pe-7s-play:before {
  content: "\e624"; }

.pe-7s-key:before {
  content: "\e6a3"; }

.pe-7s-plane:before {
  content: "\e625"; }

.pe-7s-joy:before {
  content: "\e6a4"; }

.pe-7s-photo-gallery:before {
  content: "\e626"; }

.pe-7s-pin:before {
  content: "\e69b"; }

.pe-7s-phone:before {
  content: "\e627"; }

.pe-7s-plug:before {
  content: "\e69a"; }

.pe-7s-pen:before {
  content: "\e628"; }

.pe-7s-right-arrow:before {
  content: "\e699"; }

.pe-7s-paper-plane:before {
  content: "\e629"; }

.pe-7s-delete-user:before {
  content: "\e6a7"; }

.pe-7s-paint:before {
  content: "\e62a"; }

.pe-7s-bottom-arrow:before {
  content: "\e6a8"; }

.pe-7s-notebook:before {
  content: "\e62b"; }

.pe-7s-note:before {
  content: "\e62c"; }

.pe-7s-next:before {
  content: "\e62d"; }

.pe-7s-news-paper:before {
  content: "\e62e"; }

.pe-7s-musiclist:before {
  content: "\e62f"; }

.pe-7s-music:before {
  content: "\e630"; }

.pe-7s-mouse:before {
  content: "\e631"; }

.pe-7s-more:before {
  content: "\e632"; }

.pe-7s-moon:before {
  content: "\e633"; }

.pe-7s-monitor:before {
  content: "\e634"; }

.pe-7s-micro:before {
  content: "\e635"; }

.pe-7s-menu:before {
  content: "\e636"; }

.pe-7s-map:before {
  content: "\e637"; }

.pe-7s-map-marker:before {
  content: "\e638"; }

.pe-7s-mail:before {
  content: "\e639"; }

.pe-7s-mail-open:before {
  content: "\e63a"; }

.pe-7s-mail-open-file:before {
  content: "\e63b"; }

.pe-7s-magnet:before {
  content: "\e63c"; }

.pe-7s-loop:before {
  content: "\e63d"; }

.pe-7s-look:before {
  content: "\e63e"; }

.pe-7s-lock:before {
  content: "\e63f"; }

.pe-7s-lintern:before {
  content: "\e640"; }

.pe-7s-link:before {
  content: "\e641"; }

.pe-7s-like:before {
  content: "\e642"; }

.pe-7s-light:before {
  content: "\e643"; }

.pe-7s-less:before {
  content: "\e644"; }

.pe-7s-keypad:before {
  content: "\e645"; }

.pe-7s-junk:before {
  content: "\e646"; }

.pe-7s-info:before {
  content: "\e647"; }

.pe-7s-home:before {
  content: "\e648"; }

.pe-7s-help2:before {
  content: "\e649"; }

.pe-7s-help1:before {
  content: "\e64a"; }

.pe-7s-graph3:before {
  content: "\e64b"; }

.pe-7s-graph2:before {
  content: "\e64c"; }

.pe-7s-graph1:before {
  content: "\e64d"; }

.pe-7s-graph:before {
  content: "\e64e"; }

.pe-7s-global:before {
  content: "\e64f"; }

.pe-7s-gleam:before {
  content: "\e650"; }

.pe-7s-glasses:before {
  content: "\e651"; }

.pe-7s-gift:before {
  content: "\e652"; }

.pe-7s-folder:before {
  content: "\e653"; }

.pe-7s-flag:before {
  content: "\e654"; }

.pe-7s-filter:before {
  content: "\e655"; }

.pe-7s-file:before {
  content: "\e656"; }

.pe-7s-expand1:before {
  content: "\e657"; }

.pe-7s-exapnd2:before {
  content: "\e658"; }

.pe-7s-edit:before {
  content: "\e659"; }

.pe-7s-drop:before {
  content: "\e65a"; }

.pe-7s-drawer:before {
  content: "\e65b"; }

.pe-7s-download:before {
  content: "\e65c"; }

.pe-7s-display2:before {
  content: "\e65d"; }

.pe-7s-display1:before {
  content: "\e65e"; }

.pe-7s-diskette:before {
  content: "\e65f"; }

.pe-7s-date:before {
  content: "\e660"; }

.pe-7s-cup:before {
  content: "\e661"; }

.pe-7s-culture:before {
  content: "\e662"; }

.pe-7s-crop:before {
  content: "\e663"; }

.pe-7s-credit:before {
  content: "\e664"; }

.pe-7s-copy-file:before {
  content: "\e665"; }

.pe-7s-config:before {
  content: "\e666"; }

.pe-7s-compass:before {
  content: "\e667"; }

.pe-7s-comment:before {
  content: "\e668"; }

.pe-7s-coffee:before {
  content: "\e669"; }

.pe-7s-cloud:before {
  content: "\e66a"; }

.pe-7s-clock:before {
  content: "\e66b"; }

.pe-7s-check:before {
  content: "\e66c"; }

.pe-7s-chat:before {
  content: "\e66d"; }

.pe-7s-cart:before {
  content: "\e66e"; }

.pe-7s-camera:before {
  content: "\e66f"; }

.pe-7s-call:before {
  content: "\e670"; }

.pe-7s-calculator:before {
  content: "\e671"; }

.pe-7s-browser:before {
  content: "\e672"; }

.pe-7s-box2:before {
  content: "\e673"; }

.pe-7s-box1:before {
  content: "\e674"; }

.pe-7s-bookmarks:before {
  content: "\e675"; }

.pe-7s-bicycle:before {
  content: "\e676"; }

.pe-7s-bell:before {
  content: "\e677"; }

.pe-7s-battery:before {
  content: "\e678"; }

.pe-7s-ball:before {
  content: "\e679"; }

.pe-7s-back:before {
  content: "\e67a"; }

.pe-7s-attention:before {
  content: "\e67b"; }

.pe-7s-anchor:before {
  content: "\e67c"; }

.pe-7s-albums:before {
  content: "\e67d"; }

.pe-7s-alarm:before {
  content: "\e67e"; }

.pe-7s-airplay:before {
  content: "\e67f"; }

.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear; }
  .fade.in {
    opacity: 1; }

.collapse {
  display: none; }
  .collapse.in {
    display: block; }

tr.collapse.in {
  display: table-row; }

tbody.collapse.in {
  display: table-row-group; }

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-property: "height, visibility";
  -o-transition-property: "height, visibility";
  transition-property: "height, visibility";
  -webkit-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease; }

/* @import 'vendors/Concourse/scss/_concourse.scss'; */
/*!
Animate.css - http://daneden.me/animate
Licensed under the MIT license - http://opensource.org/licenses/MIT
Copyright (c) 2015 Daniel Eden
*/
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
